.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
.container > div {
  border: 1px solid red;
  padding: 10px;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
